<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link href="https://cdn.fancygrid.com/fancy.min.css" rel="stylesheet">
    <script src="https://cdn.fancygrid.com/fancy.min.js"></script>
    <script>Fancy.MODULESDIR="https://cdn.fancygrid.com/modules/";</script>
</head>
<body>

<div id="container"></div>

<script>



    var data = [
            {% for flat in flats %}
                {
                    "project_name": "{{ flat.project.name }}",
                    "section": "{{ flat.section }}",
                    "flat_id": {{ flat.flat_id }},
                    "area": {{ flat.area }},
                    "floor": {{ flat.floor }},
                    "rooms": {{ flat.rooms }},
                    "address": "{{ flat.address }}",
                    "settlement_date": "{{ flat.settlement_date }}",
                    "house": "{{ flat.house }}",
                    "last_check_at": "{{ flat.last_check_at }}",
                    "last_status": "{{ flat.last_status }}",
                    "last_price": {{ flat.last_price }},

                },
            {% endfor %}
        ]
    document.addEventListener("DOMContentLoaded", function() {
      new FancyGrid({
        title: 'Квартиры',
        renderTo: 'container',
        width: 1000,
        height: 700,
        data: data,
        theme: 'gray',
        selModel: 'row',

        events: [],

        defaults: {
          type: 'string',
          sortable: true,
          editable: false,
          resizable: false,
          align: 'center',
          cellAlign: 'center'
        },

        expander: {
          tpl: [
            '<div style="float: left;">',
              '<b>URL:</b> <a href={url}>{url}</a>',
            '</div>'
          ].join(""),
          dataFn: function(grid, data){
            return data;
          }
        },

        columns: [{
          index: 'project_name',
          title: 'Название проекта',
          flex: 1,
        },{
          index: 'last_price',
          title: 'Цена',
          flex: 1,
          type: 'number'
        },{
          index: 'area',
          title: 'Площадь',
          flex: 1,
          type: 'number'
        },{
          index: 'last_status',
          title: 'Статус',
          flex: 1,
        }, {
          index: 'last_check_at',
          title: 'Последнее обновление',
          flex: 1,
          type: 'date',
          sortable: false,
          format: {
            read: 'Y-m-d',
          },
        }]

      });
    });

</script>


</body>
</html>