<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Title</title>

    <script src="https://code.jquery.com/jquery-3.4.1.min.js"
            integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="
            crossorigin="anonymous"></script>
    <script src="/static/js/fancy.min.js"></script>
    <script src="/static/js/jquery.sparkline.min.js"></script>
    <script src="/static/js/highcharts.js"></script>
    <script src="/static/js/highchart-gray-theme.js"></script>
    <script src="/static/js/bootstrap/bootstrap.min.js"></script>
    <script src="/static/js/jquery.modal.min.js"></script>
    <script>Fancy.MODULESDIR="https://cdn.fancygrid.com/modules/";</script>


    <link rel="stylesheet" href="/static/css/bootstrap/bootstrap.min.css">
    <link rel="stylesheet" href="/static/css/jquery.modal.min.css" />
</head>

<body style="max-height:100%;">
    <link href="/static/css/style.css" rel="stylesheet">
    <script type="text/javascript" src="/static/js/grids.js"></script>

    <nav class="navbar navbar-dark bg-dark">
      <a class="navbar-brand" href="/projects">Все проекты</a>
    </nav>

    <div id="grid-container" class="container" style="height:750px;max-height:100%;overflow:auto;  "></div>

    {% include 'modal.html' %}
    {% block content %}{% endblock %}

    <script type="text/javascript" src="/static/js/jquery.canvasjs.min.js"></script>

</body>
</html>