<div id="modal-window" class="modal">
    <div class="container">
        <div class="row mt-5" id="project-info">
            <div class="col-sm-6 col-md-4" id="project-photo-modal">
            </div>
        <div class="col-6 col-md-7 offset-md-1">
            <p class="field"><b>Ссылка на проект: </b><a class="text-warning stretched-link" id="project-link"></a></p>
            <p class="field" id="flats-left"></p>
            <p class="field" id="last-check"></p>
        </div>
      </div>
      <div class="row mt-5" id="flat-number-chart">
        <div class="col" id="flat-number-char-container" style="height: 370px; width: 100%;">
        </div>
      </div>
        <div class="row mt-5 mb-5" id="flat-price-chart">
        <div class="col" id="flat-price-chart-container" style="height: 370px; width: 100%;">
        </div>
      </div>
      <div class="row mt-5" id="open-flat-page">
          <div class="col-sm-12 text-center">
              <a class="btn btn-secondary" id="open-flat-page-btn"> Посмотреть квартиры </a>
          </div>
      </div>
    </div>
</div>


