.photo img {
  width: 100px;
  max-width: none;
  margin-top: -25px;
  margin-left: -5px;
}

.fancy-grid-cell-inner {
font-family: 'Times New Roman', Times, serif;
  margin-top: 40px;
  border-top: 10px;
  font-size: 200%;
  height: 50px;
  font: red;
}

.fancy-grid-column-sparkline canvas {
    position: relative;
    margin-top: -43px;
    height: 50px;
    top: 0px;
    padding: 5px;
}

.open-flat-page-btn{
    padding: 10px;
    margin: 10px;
}

.project-info-expander{
    margin-left: 40px;
    font-size: 200%;
    color: black;
}

body {
    background-color: #e6e6ff;
}

.fancy-grid-expand-row {
    background-color: #f0f0f5;
}